# gradle
/bin/
/build/
.gradle

# vscode
/.settings/
.classpath
.project
.jenkins
.vscode/

# idea
*.iml
/.idea/
/out
http-client.private.env.json

# for non-persistent tests etc.
spike/

# maven
target/
.mvn